<div class="container">
    <div class="footer__heading">
        Kết nối với FarmControl
    </div>
    <div class="footer__desc">
        FarmControl.vn
    </div>
    <div class="footer__contact">
        <div class="footer__icon">
            <i class="fa-brands fa-facebook"></i>
            
        </div>
        <div class="footer__icon">
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
    <div class="footer__quote">
        <strong>Công ty cổ phần quản lý nhà kính FarmControl</strong>
        <div class="info">Địa chỉ chủ sở chính: 279 Nguyễn Tri Phương, Quận 10, Thành phố Hồ Chí Minh</div>
        <div class="info">Hotline: 0812375083</div>
        <div class="info">Tổng đài hỗ trợ kĩ thuật: 1800 3030</div>
        <div class="info">Email: FarmControl@gmail.com</div>
        <div class="info">MST Công ty: 0316128013</div>
    </div>
</div>