<div class="container">
    <div class="footer__heading">
        Kết nối với FarmControl
    </div>
    <div class="footer__desc">
        FarmControl.vn
    </div>
    <div class="footer__icon">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <p class="footer__quote">
        <strong>Công ty cổ phần quản lý nhà kính FarmControl</strong>
        <div class="info">Địa chỉ chủ sở chính: 35 Nguyễn Thị Minh Khai, Quận 3, Thành phố Hồ Chí Minh</div>
        <div class="info">Hotline: 0565 145 145</div>
        <div class="info">Tổng đài hỗ trợ kĩ thuật: 1800 3030</div>
        <div class="info">Email: Farm</div>
    </p>
</div>