<div class="container">
    <div class="header__inner">
        <div class="header__logo">
            <img src="assets/img/logo/icon.png" alt="">
            .
        </div>
        <nav class="header-list">
            <div class="header-list__item">Trang chủ</div>
            <div class="header-list__item">Giới thiệu</div>
            <div class="header-list__item">Dịch vụ</div>
            <div class="header-list__item">Tin tức</div>
        </nav>
        <div class="header__right">
            <div class="header__icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="header__icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </div>
</div>
