<div class="container">
  <div class="header__inner">
    <div class="header__logo">
      <img src="assets/img/logo/icon.png" alt="" class="header__pic" />
      <div class="header__name">Farm Control</div>
    </div>
    <nav class="header-list">
      <div class="header-list__item">
        <a href="index.html" class="header-list__link">Trang chủ</a>
      </div>
      <div class="header-list__item">
        <a href="gioithieu.html" class="header-list__link">Giới thiệu</a>
      </div>
      <div class="header-list__item">
        <a href="service.html" class="header-list__link">Dịch vụ</a>
      </div>
      <div class="header-list__item">
        <a href="#footer" class="header-list__link contact">Liên hệ</a>
      </div>
      <div class="header-list__item">
        <a href="tintuc.html" class="header-list__link">Tin tức</a>
      </div>
    </nav>
    <div class="header__right">
      <div class="header__search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="header__icon">
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="header__btn">
        <a href="login.html">Login </a>
        <i class="fa-solid fa-right-to-bracket"></i>
      </div>
      <div class="btn__login" style="display: none">
        <i class="fa-solid fa-angle-down"></i>
        <span class="welcome">Welcome: </span>
        <span class="userName"></span>
      </div>
      <div class="btn__logout hidden">
        <div class="logout__list">
          <div class="logout__item">
            <i class="fa-solid fa-user"></i>
            <div class="buttonSignOut">My account</div>
          </div>
          <div class="logout__item">
            <i class="fa-regular fa-address-card"></i>
            <div class="buttonSignOut">About</div>
          </div>
          <div class="logout__item">
            <i class="fa-solid fa-circle-info"></i>
            <div class="buttonSignOut">Support</div>
          </div>
          <div class="logout__item">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <div class="buttonSignOut">Sign-out</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header__searchInfo hidden">
  <div class="header__inner">
    <div class="header__row">
      <div class="header__close">
        <span> Close</span>
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="header__title">What are you looking for?</div>
    </div>
    <div class="header__row2">
      <input type="text" placeholder="Search..." class="header__input" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="header__block">
      button
      <div class="header__list"></div>
    </div>
  </div>
</div>
