@mixin heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 76px;
}

@mixin desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
}

@mixin btn {
    --height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    min-width: 100px;
    height: var(--height);
    background: #588157;
    border: #588157;
    text-align: center;
    border-radius: 99px;
}

@mixin line-effect {
    width: 0;
    height: 2px;
    background: #0b650f;
    position: fixed;
    pointer-events: none;
    transition: all 0.25s ease;
}

@mixin visible {
    display: block
}

@mixin hidden {
    display: none
}