@import "../abstracts";

.introduce {
    margin-top: 50px;

    &__heading {
        @include heading;
        font-size: 2.6rem;
        font-family: 'Sora';
        font-weight: 500;
        color: $color-green;
    }

    &__quotes {
        font-size: 1.8rem;
        line
        margin-top: 10px;
    }

    &__desc {
        font-size: 1.8rem;
        line
        margin-top: 10px;
    }
}