@import "../abstracts";

.container {
    max-width: 1320px;
}

.header-hero {
    margin: 10px auto 0;
    width: 1420px;

    .header-thumb {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        // height: 400px;
    }

    .header-hero__img {
        border-radius: 5px;
        filter: brightness(100%);
        width: 100%;
        height: 600px;
    }
}

.slick-arrow {
    border-radius: 99px;
    background: #dadada;
    color: #333;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.25s linear;
}

.slick-dots {
    border-radius: 99px;
    background: #dadada;
    color: #333;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.25s linear;
    position: absolute;
    left: 50;
    top: 50%;
    transform: translate(-50%);
}

.slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    background: #eee;
    border: none;
    outline: none;
}
