@import "../abstracts";

.container {
    max-width: 1170px;
}

a {
    text-decoration: none;
}

.header {
    .header__inner {
        // display: flex;
    }

    .header-row {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-row__left {
            display: flex;
            flex-direction: column;

            > .email {
                color: $color-green;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 1.2;
            }

            > .desc {
                font-size: 1.5rem;
            }
        }

        .header-row__right {
            display: flex;
            align-items: center;

            > .desc {
                padding: 5px 10px;
                font-size: 1.7rem;
                font-weight: 500;
                color
            }
        }
    }
}
