@import "../abstracts";

.container {
    max-width: 1170px;
}

a {
    text-decoration: none;
}

.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            width: 100px;
            height: 60px;
        }
    }
}