@import "../abstracts";

.login {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    display: flex;

    .login__left {
        .login__pic {
            width: 200px;
            height: 120px;
            object-fit: cover;
        }

        .login__pic-2 {
            width: 200px;
            height: 400px;
        }
    }
}
