@import "../abstracts";

.login {
    background: #fff;
    position: relative;
    margin: 0 auto;
    
    width: 1000px;
    height: 600px;

    .login__pic-2 {
        width: 200px;
        height: 400px;
    }
}