@import "../abstracts";

.nav {
    margin-top: 50px;

    &__row {
        display: flex;
        align-items: center;
        column-gap: 10px;

        .muiten {
            font-size: 1.2rem;
        }

        .text {
            font-size: 1.5rem;
        }
    }

}