@import "../abstracts";

.nav__page {


    .nav__inner {
        margin-top: 50px;
        display: flex;

        .nav__content {
            height: 300px;
            width: 600px;
            object-fit: contain;
        }
    }

    .nav__quotes {
        margin-top: 5px;
        font-size: 4rem;
        font-family: ;
    }
}
