@import "../abstracts";

.news {
    margin-top: 100px;

    &__inner {
        display: flex;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        col

        .news__item {
            width: 50%;

            .news__img {
                width: 100%;
            }
        }
    }
}
