@import "../abstracts";

.news {
    margin-top: 50%;

    &__inner {
        display: flex;
    }

    &__list {
    display: flex;

        .news__item {
            width: 50%;

            .news__img {
                width: 100%;
            }
        }
    }
}
