@import "../abstracts";

.container {
    max-width: 1320px;
}

a {
    text-decoration: none;
}

.footer {
    margin-top: 100px;
    padding: 80px 0 80px;
    background: #344e41;

    .footer__heading {
        text-align: center;
        font-size: 4rem;
    }
}