@import "../abstracts";

.container {
    max-width: 1320px;
}

a {
    text-decoration: none;
}

.footer {
    margin-top: 100px;
    padding: 50px 0 50px;
    background: #a3b18a;

    .footer__heading {
        text-align: center;
        font-size: 2.4rem;
        color: $color-black;
        font-family: "Sora";
    }
    .footer__desc {
        margin-top: 10px;
        text-align: center;
    }
    .footer__contact {
        margin-top: 10px;
        // text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        i {
            font-size: 3rem;
        }
    }
    .footer__quote {
        margin-top: 30px;
    }
}